.git
.aw
.dev
*.dev
node_modules
**/node_modules
.env
.env.*
!.env.local-container.example
!.env.localprod.example
!.env.production.example
npm-debug.log*
.DS_Store
coverage
dist
apps/web/dist
apps/site/public
.gitignore
